
{{ public_url }} {
	# -- Reverse proxy to Authentik -------------------
	reverse_proxy http://directus:8055 {
		# preserve original client details
		header_up Host              {host}
		header_up X-Real-IP         {remote_host}  # remote host placeholder 
		header_up X-Forwarded-Port  {server_port}
	}

	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		X-Content-Type-Options    "nosniff"
	}
}
